<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <main>
        
        <div id="root" class="app-container">
            <div class="col-left">
                <div class="user-row">
                    <div class="user-image">
                        <img src="img/avatar_io.jpg" alt="">
                        <span>Nome utente</span>
                    </div>
                    <div class="icon-section">
                        <i class="fas fa-circle-notch icons"></i>
                        <i class="fas fa-comment-alt icons"></i>
                        <i class="fas fa-ellipsis-v icons"></i>                        
                    </div>
                </div>
                <div class="notification-row">
                    <div class="notification-icon">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="infos">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <span id="special-text">Attiva notifiche desktop</span>
                    </div>
                </div>
                <div class="search-row">
                    <input @keyup="userList()" class="icon" type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchResult">
                </div>
                
                <ul class="message-list">
                    <li v-if="chat.visible" @click="chatSwitch(index)" v-for="(chat,index) in contacts" class="user-image">
                        <img :src="'img/avatar' + chat.avatar + '.jpg'" alt="chat.name">
                    <span>{{ chat.name }}</span>
                </li>                                    
            </ul>                 
            </div>
            <div class="col-right">
                <div class="user-row">
                    <div class="user-image">                       
                        <img :src="'img/avatar' + contacts[activeChat].avatar + '.jpg'" alt=""> 
                        <div class="infos">
                            <span>{{ contacts[activeChat].name }}</span>
                            
                            <span id="access">Ultimo accesso oggi alle</span>
                        </div>
                    </div>
                    <div class="icon-section">
                        <i class="fas fa-search icons"></i>
                        <i class="fas fa-paperclip icons"></i>
                        <i class="fas fa-ellipsis-v icons"></i> 
                    </div>
                </div>
                <div class="message-section">
                    <div v-for="element in contacts[activeChat].messages" class="message">
                        <div :class="element.status === 'received' ? 'received' :'sent'" class="message-box">
                            <span  :class="(element.status === 'received' ? 'received-color':'sent-color') + ' message'" class="main-text">{{ element.text }}
                                <span class="date">{{ element.date }}</span>
                            </span> 
                        </div>                        
                    </div>
                </div>
                <div class="footer-rightcol">
                    <i class="far fa-smile"></i>
                    <div class="send-message">
                        <input type="text" placeholder="  Scrivi un messaggio" v-model="newMessage" @keyup.enter= "sendNewMessage(); okReplayer();" >
                    </div>
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
        
    </main>

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>